<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907083805319-74lhqr7r9n1r4tb356i6e29d9h67u99e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907083805319-74lhqr7r9n1r4tb356i6e29d9h67u99e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907083805319-39gcnv2v91k66h6k023f15qnbsvl3pc9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_USJmoZcE2KI1rRJZpuvy1kimKYEBeMc</string>
	<key>GCM_SENDER_ID</key>
	<string>907083805319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.McxtMovieFlixio</string>
	<key>PROJECT_ID</key>
	<string>macximus-a8464</string>
	<key>STORAGE_BUCKET</key>
	<string>macximus-a8464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907083805319:ios:514a83999b302176e17e22</string>
	<key>DATABASE_URL</key>
	<string>https://macximus-a8464-default-rtdb.firebaseio.com</string>
</dict>
</plist>